.noteIcon {
    color:white;
    position: absolute;
    top: 20px;
    right: 20px;
    height: auto;
    width: 25px;
    cursor: pointer;
    
}

.notepad {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.notepad textarea {
   height: 150px;
   width: 150px; 
   background-color: white;
   padding: 20px;
   margin-bottom: 20px;
   resize: none;
}


.notepad p {
    font-size: 24px;
    padding: 0px 0px 20px 0px;
}